// ======================================
//  Mixins
// ======================================

//Center

@mixin center {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

// Lighten

@mixin lighten {
    transition-property: opacity ;
    transition-duration: .2s;
}

// Breakpoint

@mixin mq {
    @media (min-width: $break-s) {@content;}
}