// ======================================
//  Variables
// ======================================

// Colors

$white: #fff;

$color-primary: #58e1c1; // seaweed-green
$color-secondary: #51ddfc; // teal
$color-shade: #;
$color-text: #777; //Grey

// Fonts

$font-stack-primary: 'Lato', sans-serif;

// Breakpoint
$break: 768px;